if SHIELD_OAK58_LEFT

config ZMK_KEYBOARD_NAME
    default "oak58-l"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_OAK58_LEFT || SHIELD_OAK58_RIGHT

config ZMK_SPLIT
    default y

endif
